<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Главная страница</title>
  <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <section id="logic">
      <div class="card">
        <form method="POST" action="/add_card" class="add_card">
          <input type="text" name="child_name" placeholder="child_name">
          <input type="text" name="child_lastname" placeholder="child_lastname">
          <input type="text" name="child_height" placeholder="child_height">
          <input type="text" name="child_weight" placeholder="child_weight">
          <input type="text" name="child_foot_size" placeholder="child_foot_size">
          <input type="text" name="age" placeholder="age">
          <input type="submit" value="Добавить ребенка">
        </form>
        <div class="add_card">
          <form class=add_card action="/add_card" method="POST" enctype="multipart/form-data">
            <input type="text" name="child_name" placeholder="name">
            <input type="range" min="18" max="50" name="age" placeholder="age">
            <input type="range" min="40" max="150" name="overall_rating" placeholder="overall_rating">
            <input type="range" min="150" max="220" name="child_height" placeholder="height">
            <input type="file" name="image" placeholder="image" accept=".jpg, .png" >
            <input type="submit" value="Добавить">
          </form>
        </div> 
    
      </div>
      <div class="cards">
        {% for item in data%}
        <div class="yes">
          <form class="delete" method="POST" action="/delete_card">
            <input type="submit" placeholder="Добавить" value="x" class="dad" > 
          </input>
            <input type="hidden" name="id" value="{{ item.id }}" />
          </form>
          <img src="../static/cards/{{item.id}}.jpg" alt="Але" class="image">
          <h1>{{ item.child_name }}</h1>
          <h2>{{ item.lastname }}</h2>
          <p>Рост: {{ item.child_height }}</p>
          <p>Вес: {{ item.child_weight }}</p>
          <p>Нога: {{ item.child_foot_size }}</p>
          <p>Лет: {{ item.age }}</p>
          <button class="like-absolute">
            <img class="mark" src="../static/like.png" alt="like">
          </button>
      </div>
   {% endfor %}
  </div>
</section>
</body>
</html>
